<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
<!--    Citation: OpenAI, 03-29-2024, ChatGPT, How to obtain location of user-->
<!--    gave the access fine and coarse location lines-->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AppName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwiftCheckIn"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAE2ZFQ1O7xaQW37bDO7X80S0MMWvRo_g4" />

        <activity
            android:name=".organizer.MapsActivity"
            android:exported="false"
                  
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"
            />

        <activity android:name=".attendee.AdminPassword"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".organizer.AddAnnouncementActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
      
        <activity
            android:name=".attendee.QRCodeScannerActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity
            android:name=".attendee.AnnoucementActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".organizer.OrganizerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".attendee.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".attendee.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".organizer.AddEventActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".organizer.EventInfoPage"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".attendee.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.AdminActivity"
            android:exported="true" />


        <service
            android:name=".organizer.MyFirebaseMessagingServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.swiftcheckin"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>